* {
  padding: 0;
  margin: 0;
}
body {
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
svg {
  background-color: #555;
  width: 80vmin;
  height: 80vmin;
  margin: 2vmin;
  box-shadow: 0 0 1vmin black inset, 0 0 0 1vmin #777, 0 0 5vmin black;
  border-radius: 1vmin;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightblue;
  padding: 1rem;
  box-shadow: 0 0 5vmin black;
  display: flex;
  flex-direction: column;
}
.info > p > span {
  border: 1px solid white;
  padding: 0.1rem 0.5rem;
  border-radius: 2px;
}
h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.controls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "prev random up rotate next"
    "prev left down right next";
  width: 80vmin;
  height: 10vmin;
  grid-column-gap: 0.5vmin;
  grid-row-gap: 0.5vmin;
}
.prev {
  grid-area: prev
}
.left {
  grid-area: left
}
.up {
  grid-area: up
}
.rotate {
  grid-area: rotate
}
.right {
  grid-area: right
}
.down {
  grid-area: down
}
.next {
  grid-area: next
}
button{
  color: #333;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.5vmin;
  cursor: pointer;
  transition: background-color .3s;
  box-shadow: 0 0 0.5vmin black;
  font-size: 2rem;
}
button:hover {
  background-color: deepskyblue;
}
button.btn-info,
button.btn-close {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: none;
  border: 1px solid white;
}
button.btn-info:hover,
button.btn-close:hover {
  border-color: transparent;
}
.btn-close {
  align-self: flex-end; 
}
.btn-info {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
}
